body {
  vertical-align: middle;
  margin: 0px;
  font: sans-serif;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.flexx {
  display: flex;
  align-items: flex-start;
}

.flexx > img {
  margin: 10px;
}

  nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width:100%;
    background-color: #235390;
    border: none;
    align-items:baseline;
    
  }

  nav a {
    align-self: flex-start;
    text-decoration: none;
    color: white;
    padding-left: 25px;
    font-size:20px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  nav select {
    color: white;
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
    font-size:13px;
    font-weight: 900;
    padding-right: 25px;
  }

  #main {
    border: none;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #235390;
    text-align: center;
    background-image: url(../images/star-pattern.svg);
  }

  #main>img {
    margin: 10px;
    height: 260px;
    width: 260px;
  
  }

  #main h1 {
    color:white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  @media (max-width:768px) {
    #main{
      flex-direction:column;
      padding: 0px 30px;

    }

    #main img{
      width: 200px;
      height: 200px;
    }

    #owl {
      flex-direction: column;
      align-self: center;
    }

    #sec4{
      flex-direction: column;
    }

    #sec5{
      flex-direction: column-reverse;
      

    }

    

    #sec6{
      flex-direction: column;
    }

    #sec7{
      flex-direction: column-reverse;

    }

    #sec8{
      flex-direction: column;
    }

    
    
  }

  .btn {
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    margin: 5px;
    font-weight: 800;
  }

  .btn-primary {
    border-color: green;
    background-color: green;
    width: fit-content;
  }

  .btn-secondary {
    border-color: black;
    background-color: #235390;
    margin-top: 10px;
  }

  

  #owl {
    display: flex;
    margin: 40px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
  }

  #owl>img {
    padding-right: 40px;
  }

  #sec3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  

  @media screen and (min-width: 768px) {
    #sec9 {
      padding: 0px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      background-color: red;
    }

    #sec3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 2fr 2fr;
      
    }
    #sec3-ee{
      grid-row-start: 2;
      grid-row-end: 3;
    }

    #sec3-h3{
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 4;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-top: auto;
      margin-bottom: auto;
      
    }
    
    #sec3-pl{
      grid-row-start: 3;
      grid-row-end: 4;
      
    }
    
    #sec3-img{
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;
      margin-top: auto;
      margin-bottom: auto;
    }

    #sec3-sm{
      grid-column-start:3 ;
      grid-column-end:4 ;
      grid-row-start: 2;
      grid-row-end:3 ;
    }

    #sec3-hf{
      grid-column-start:3 ;
      grid-column-end:4 ;
      grid-row-start: 3;
      grid-row-end:4 ;

    }

    #sec9-6{
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end:3 ;
    }
  }

  #sec3-ee a {
    color: skyblue;
    text-decoration: none;
    font-weight: 900;
  }

  #sec3-1-2 {
    align-self: center;
  }

  h1 {
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


  p {
    color: grey;
  }

  #sec4 {
    margin: 40px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #as1 {
    padding: 10px 45px 10px 0px;
  }

  #sec4 a {
    text-decoration: none;
    font-weight: 800;
    color: rgb(53, 179, 228);
  }

  #sec5 {
    display: flex;
    margin: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


  }

  .get-app-button {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid black;
    cursor: pointer;
    height: 55px;
  }

  .get-app-button:hover {
    background-color: lightgray;
  }

  .get-app-button>p {
    display: inline;
    margin: 0px;
    padding: 0px;
  }

  #traveller {
    padding: 20px 0px 20px 45px;
  }

  #sec6 {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;

  }

  #sec6 a {
    text-decoration: none;
    color: rgb(53, 179, 228);
    font-weight: 800;
  }

  #laptop {
    padding: 10px 45px 30px 0px;
  }

  #sec7 {
    display: flex;
    margin: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #sec7 img {
    padding: 10px 0px 20px 45px;
  }

  #sec7 a {
    text-decoration: none;
    color: rgb(53, 179, 228);
    font-weight: 800;
  }

  #sec8 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 40px;

  }

  #sec8 img {
    padding-right: 45px;
  }

  #sec8 a {
    text-decoration: none;
    color: rgb(53, 179, 228);
    font-weight: 800;
  }

  #sec9 {
    background-image: url(../images/star-pattern.svg);
    padding-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #235390;
    border-bottom: 1px solid white;
  }

 
  #sec9 h3, h5 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #sec9 ul {
    list-style-type: none;
    padding-left: 0px;
  }
  
  #sec9 a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.717);
  }

  @media screen and (min-width: 768px) {
    #sec9 {
      padding: 0px 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      
    }
  }

  #sec10 {
    background-color: #235390;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }


  .foo1{
    background-image: url(../images/star-pattern.svg);
    background-color: #235390;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px 0px;
  }

  .foo1 input{
    color: antiquewhite;
    background-color: green;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-weight: 900;
    font-family: sans-serif;
  }

  .foo2 h5{
    margin-top: 0px;
  }

  .foo3{
    margin-bottom: 0px;
    padding-bottom: 20px;
  }