body {
    vertical-align: middle;
    margin: 0px;
  }


  h2 {
    color: white;
    font: sans-serif;
    word-spacing: 5px;
  }

  #main {
    background-color: #235390;
  }

  #primary {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: green;
    width: fit-content;
  }

  #secondary {
    color: white;
    font-size: 12px;
    padding: 9px;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    background-color: #235390;

  }

  #nav {
    display: flex;
    justify-content: space-between;
    background-color: #235390;
    border: none;
    position: fixed;
    width: 100vw;

  }


  select#language {
    padding: 10px;
    color: white;
    border: none;
    background: #235390;
    font-weight: 700;
    align-self: baseline;
    margin: 10px;
  }

  option {
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    background: white;
    font-weight: 600;
    align-self: baseline;
    margin: 10px;
  }

  #duo {
    align-self: flex-start;
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 27px;
    padding: 10px;

  }

  #sec1 {
    /* margin: 10px;*/
    border: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

  }

  .border-bottom {
    border-bottom: 1px solid black;
  }

  #owl {
    display: flex;
    margin: 40px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
  }

  #owl>img {
    padding-right: 40px;
  }


  #sec3 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


  }

  #sec3-1 {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    padding: 40px 0px;

  }

  #sec3-1-1 a {
    color: skyblue;
    text-decoration: none;
    font-weight: 900;
  }

  #sec3-1-2 {
    align-self: center;


  }

  h3 {
    font-size: 19px;
    font-weight: 700;
  }


  p {
    font-size: 14px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.559)
  }

  #sec4 {
    margin: 40px;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

  #as1 {

    padding: 10px 45px 10px 0px;
  }

  #sec4 a {
    text-decoration: none;
    font-weight: 800;
    color: rgb(53, 179, 228);
  }

  #sec5 {
    display: flex;
    margin: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


  }

  .get-app-button {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid black;
    cursor: pointer;
    height: 55px;
  }

  .get-app-button:hover {
    background-color: lightgray;
  }

  .get-app-button>p {
    display: inline;
    margin: 0px;
    padding: 0px;
  }

  #traveller {
    padding: 20px 0px 20px 45px;
  }

  #sec6 {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;

  }

  #sec6 a {
    text-decoration: none;
    color: rgb(53, 179, 228);
    font-weight: 800;
  }

  #laptop {
    padding: 10px 45px 30px 0px;
  }

  #sec7 {
    display: flex;
    margin: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #sec7 img {
    padding: 10px 0px 20px 45px;
  }

  #sec7 a {
    text-decoration: none;
    color: rgb(53, 179, 228);
    font-weight: 800;
  }

  #sec8 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    margin: 40px;

  }

  #sec8 img {
    padding-right: 45px;
  }

  #sec8 a {
    text-decoration: none;
    color: rgb(53, 179, 228);
    font-weight: 800;
  }

  #sec9 {
    display: flex;
    flex-direction: column;
    padding: 80px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #235390;
    border: 1px solid rgba(255, 255, 255, 0.752);
  }

  #sec9-1 {
    display: inline-flex;
  }

  #sec9-1 input {
    border-radius: 10px;
    color: white;
    height: 30px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(145, 239, 4);
    font-weight: 800;
  }

  #sec9 h3 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }

  #sec9 ul {
    padding-left: 0px;
    list-style-type: none;
  }

  #sec9 a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.717);
  }

  #sec9-2 {
    padding: 0px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #sec9 h5 {
    color: white;

  }

  #sec10 {
    background-color: #235390;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }